<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Администрация. ИКС-файл</title>
	<script type="text/javascript"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_adminCab.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>

<body>

	<header class="header">
		<div class="header_ISeC">ИКС-файл. Администраторная</div>
		<div class="header_admin">
			<span>
				Привет, <a href="{{ url_for('index') }}">{{ session['adminName'] }}</a> |
				<a href="{{ url_for('index') }}">Тест</a> |
				<a href="{{ url_for('logout') }}">Выйти</a>
			</span>
		</div>
	</header>

	<main class="main">
		<div class="side_menu">
			<button class="btn_sidelink_actual" onclick="window.location.href='http://127.0.0.1:5000/cab_archive'">
				Архив
			</button>
			
			<button class="btn_sidelink" onclick="window.location.href='http://127.0.0.1:5000/cab_codes'">
				Коды доступа
			</button>
			
			<button class="btn_sidelink" onclick="window.location.href='http://127.0.0.1:5000/cab_analysis'">
				Анализ по вопросам
			</button>
			
			<button class="btn_sidelink" onclick="window.location.href='http://127.0.0.1:5000/cab_excelgen'">
				Выборки (excel)
			</button>
			
			<button class="btn_sidelink" onclick="window.location.href='http://127.0.0.1:5000/cab_admins'">
				Администраторы
			</button>
	
		</div>
	
		<div class="central_archive">

			<input type="text" class="inp_text" id="user_id" required placeholder="ID респондента" autocomplete="off">

			<input type="email" class="inp_text" id="user_email" required placeholder="Эл. почта" autocomplete="off">

			<button id="gener_and_send_PDF" class="btn_startgen" type="button">Запустить генерацию</button>
		</div>
	</main>


</body>

</html>