<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Администрация. ИКС-файл</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_adminCab.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>

<body class="login_body">
	<div class="auth_window">
		<form id="loginForm" action="{{ url_for('cab_login') }}" method="post" novalidate>
			<div class="input-group">
				<label class="login_label" for="adminLogin">Логин</label>
				<input class="login_input" type="text" id="adminLogin" name="adminLogin" placeholder="">
			</div>
			<div class="input-group">
				<label class="login_label" for="adminPass">Пароль</label>
				<input class="login_input" type="password" id="adminPass" name="adminPass" placeholder="">
			</div>
			<button class="enter_btn" type="submit">Войти</button>
		</form>
	</div>
	<script>
		document.getElementById('loginForm').addEventListener('submit', function (event) {

			event.preventDefault(); // Предотвращаем стандартное поведение формы

			// Сбрасываем плейсхолдеры
			document.getElementById('adminLogin').placeholder = '';
			document.getElementById('adminPass').placeholder = '';

			let valid = true;

			// Проверка логина
			const adminLogin = document.getElementById('adminLogin').value;
			if (!adminLogin) {
				document.getElementById('adminLogin').placeholder = 'Пожалуйста, заполните логин.';
				valid = false;
			}

			// Проверка пароля
			const adminPass = document.getElementById('adminPass').value;
			if (!adminPass) {
				document.getElementById('adminPass').placeholder = 'Пожалуйста, заполните пароль.';
				valid = false;
			}

			// Если форма валидна, отправляем данные на сервер
			if (valid) {
				const formData = new FormData(this);
				fetch(this.action, {
					method: 'POST',
					body: formData
				})
					.then(response => response.text())
					.then(data => {
						if (data === "userNotFound") {
							alert("Такой пользователь не найден");
						} else if (data === "passwordIsWrong") {
							alert("Введённый пароль неверен");
						} else if (data === "sucsess") {
							window.location.href = "/cab_archive";
						}
					})
					.catch(error => {
						console.error('Ошибка:', error);
					});
			}
		});
	</script>
</body>

</html>