<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Главная. ИКС-файл</title>
	<script type="text/javascript"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_ISeC.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>

<body>

	<section class="vertical_lines">
		<img class="line_1" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_2" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_3" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_4" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_5" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_6" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_7" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_8" src="{{ url_for('static', filename='images/line.svg') }}">
	</section>
	<section class="horizontal_lines">
		<img class="line_9" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_10" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_11" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_12" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_13" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_14" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_15" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_16" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_17" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_18" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_19" src="{{ url_for('static', filename='images/line.svg') }}">
		<img class="line_20" src="{{ url_for('static', filename='images/line.svg') }}">
	</section>

	<main name="descr_index">




		<!-- ВСПЛЫВАЮЩЕЕ ОКНО С ОПИСАНИЕМ МЕТОДИКИ -->
		<div class="popup_question" id="popup_index_about">
			<div class="popup_content_question">
				<p class="question_title">Об авторах</p>
				<p class="popup_text_question">&emsp;Методика создана и опробирована в консультационной практике
					кандидатами психологических наук <a href="https://vladimirkozlov.ru" target="_blank" class="index_about_link">Козловым Владимиром Владимировичем</a> и <a href="https://alexandrakozlova.ru" target="_blank" class="index_about_link">Козловой Александрой Александровной</a>.<br>
					&emsp;В основу разработки положена авторская концепция пяти моделей и пяти характеристик влияния в
					коммуникации (скачать информацию). Методика опирается на следующие исходные материалы:<br>
					&emsp;1. Методика конфликтрого поведения Томаса-Киллмена. ССЫЛКА<br>
					&emsp;2. Методика оценки переговорных навыков ССЫЛКА<br>
					&emsp;3. Методика оценки стиля аргументации ССЫЛКА<br>

					Формулировки стимулов адаптированы под цели исследования. Ключ анализа ответов по шкалам авторский.
					По итогам респондентов полусает данные по _ базовым и _ ИНТЕГРАЛЬНЫМ шкалам:
					1.
					2.
					3.
					...
				</p>
				<button class="close_btn_question" id="closeBtn_index_about">Закрыть</button>
			</div>
		</div>

		<img class="logo" src="{{ url_for('static', filename='images/ISeC-file_reverse.svg') }}" alt="ИКС-ФАЙЛ">

		<!-- ВСПЛЫВАЮЩЕЕ ОКНО ПУСТОГО ПОЛЯ ДЛЯ ВВОДА КОДА -->
		<div class="popup_error" id="popup_error_start_empty">
			<div class="popup_error_content">
				<p class="error_title">Ошибка</p>
				<p>Поле ввода пустое</p>
				<button class="close_btn_error" id="closeBtn_start_empty">Закрыть</button>
			</div>
		</div>

		<!-- ВСПЛЫВАЮЩЕЕ ОКНО НЕВЕРНОГО КОДА -->
		<div class="popup_error" id="popup_error_start_wrong">
			<div class="popup_error_content">
				<p class="error_title">Ошибка</p>
				<p>Введённый код неверен</p>
				<button class="close_btn_error" id="closeBtn_start_wrong">Закрыть</button>
			</div>
		</div>

		<!-- ВСПЛЫВАЮЩЕЕ ОКНО ДАТЫ (ДАТА НЕ НАЧАЛАСЬ) -->
		<div class="popup_error" id="popup_error_start_dateBefore">
			<div class="popup_error_content">
				<p class="error_title">Ошибка</p>
				<p>Код ещё не действителен</p>
				<button class="close_btn_error" id="closeBtn_start_dateBefore">Закрыть</button>
			</div>
		</div>

		<!-- ВСПЛЫВАЮЩЕЕ ОКНО ДАТЫ (ДАТА ЗАКОНЧИЛАСЬ) -->
		<div class="popup_error" id="popup_error_start_dateAfter">
			<div class="popup_error_content">
				<p class="error_title">Ошибка</p>
				<p>Код уже не действителен</p>
				<button class="close_btn_error" id="closeBtn_start_dateAfter">Закрыть</button>
			</div>
		</div>

		<!-- НАЧАЛЬНЫЙ ЭКРАН -->

		<div class="descr_main">
			<p class="descr_main_text">&emsp;Этот сайт даёт возможность анонимно пройти аудит персонального стиля
				влияния в
				переговорах.
			</p>
			<p class="descr_main_models">Знаете ли Вы, что есть пять моделей влияния в коммуникациях:
			</p>
			<section class="models_1">
				<b>ДЕЛОВАЯ</b>
				<b>РЕГЛАМЕНТНАЯ</b>
				<b>СИЛОВАЯ</b>
			</section>
			<section class="models_2">
				<b>МАНИПУЛЯТИВНАЯ</b>
				<b>ИДЕОЛОГИЧЕСКАЯ</b>
			</section>
			<p class="descr_main_text">&emsp;Ресурс влияния в переговорах связан с умением вариативно и осознанно
				использовать большое число коммуникативных инструментов. Обычно человек использует две-три любимые
				и привычные модели влияния. Комбинация привычных моделей определяет персональный переговорный профиль.
				Он связан с профессией и жизненным опытом. Он может измеряться и развиваться.</p>
			<p class="descr_main_text">
				&emsp;Чтобы узнать свой профиль и получить рекомендации по его развитию, надо пройти алгоритм, и, по
				возможности, запросить консультацию.
			</p>
			<p class="descr_main_text_lastString">&emsp;Алгоритм доступен участникам событий проекта <a
					class="linkSmartSkills" target="_blank" href="https://smart-skills.pro/"><b>SMART-SKILLS</b></a> по
				специальному коду.</p>
		</div>
		<div class="low_section">
			<button id="about_devs" class="btn_startpage" type="button">Об авторах</button>
			<input id="inp_code" class="inp_startpage" type="text" required placeholder="Введите код"
				autocomplete="off">
			<button id="startTest" class="btn_startpage" type="button">Пройти тест</button>
		</div>

		<script src="{{ url_for('static', filename='js/functions_ISeC.js') }}"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {

				// Переменные всплывающих окон
				const about_devs_button = document.getElementById('about_devs');
				const popup_index_about = document.getElementById('popup_index_about');
				const closeBtn_index_about = document.getElementById('closeBtn_index_about');

				const popup_error_start_empty = document.getElementById('popup_error_start_empty');
				const closeBtn_start_empty = document.getElementById('closeBtn_start_empty');
				const popup_error_start_wrong = document.getElementById('popup_error_start_wrong');
				const closeBtn_start_wrong = document.getElementById('closeBtn_start_wrong');
				const popup_error_start_dateBefore = document.getElementById('popup_error_start_dateBefore');
				const closeBtn_start_dateBefore = document.getElementById('closeBtn_start_dateBefore');
				const popup_error_start_dateAfter = document.getElementById('popup_error_start_dateAfter');
				const closeBtn_start_dateAfter = document.getElementById('closeBtn_start_dateAfter');

				// Обработчик события нажатия на кнопку справки
				about_devs_button.addEventListener('click', function () {
					popup_index_about.style.display = 'flex'; // Изменяем стиль на 'flex'
				});
				// Обработчик события нажатия на кнопку закрытия
				closeBtn_index_about.addEventListener('click', function () {
					popup_index_about.style.display = 'none'; // Скрываем всплывающее сообщение
				});

				// Переменные и функция перелистывания вперед
				const nextButton_start = document.getElementById("startTest");
				const inputHandlerCode = document.getElementById('inp_code');

				nextButton_start.addEventListener("click", async function () {
					const inputCode = inputHandlerCode.value.trim();

					if (inputCode.length === 0) {  // Если код не введён
						popup_error_start_empty.style.display = 'flex'; // Показываем всплывающее окно
					} else {  // Отправляем запрос на сервер для проверки кода
						inputHandlerCode.value = inputCode;
						const response = await fetch('/check_code', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({ code: inputCode })
						});
						const data = await response.json();
						if (data.error) {
							// Обработка ошибок
							if (data.error === 'connect_error') {
								alert('Ошибка подключения к базе данных.'); // Сообщение об ошибке подключения
							} else if (data.error === 'accessCode_not_found') {
								popup_error_start_wrong.style.display = 'flex'; // Показываем всплывающее окно, если код не найден
							} else if (data.error === 'today_is_before_dateFrom') {
								popup_error_start_dateBefore.style.display = 'flex'; // Показываем всплывающее окно, если сегодняшняя дата раньше начала действия кода доступа
							} else if (data.error === 'today_is_after_dateUntil') {
								popup_error_start_dateAfter.style.display = 'flex'; // Показываем всплывающее окно, если сегодняшняя дата позднее окончания действия кода доступа
							}
						} else {
							// Получаем значения из полей ввода
							const userGroup = data.testGroup // Выводим testGroup
							sessionStorage.setItem('userGroup', userGroup); // Сохраняем userGroup в sessionStorage
							// Вызов функции генерации уникального Id и присвоение результата переменной userId
							generateUniqueId().then(id => {
								userId = id;
								sessionStorage.setItem('userId', userId);  // Сохранение id в sessionStorage
							});
							// Отправляем ключ "indexPass" со значением "true" на сервер
							fetch('/set_index_pass', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/json'
								},
								body: JSON.stringify({ indexPass: true })
							});

							// Переход на другую страницу после окончания анимации при нажатии на кнопку
							const lines = document.querySelectorAll('.vertical_lines, .horizontal_lines');
							lines.forEach(line => line.classList.add('animBlockDisappear_end'));
							nextPage(lines, '[name="descr_index"]', '/user_data_input');
						}
					};
					// Закрытие всплывающего окна пустого поля для ввода кода
					closeBtn_start_empty.addEventListener('click', function () {
						popup_error_start_empty.style.display = 'none'; // Скрываем всплывающее окно
					});
					// Закрытие всплывающего окна ненаступившего срока действия
					closeBtn_start_dateBefore.addEventListener('click', function () {
						popup_error_start_dateBefore.style.display = 'none'; // Скрываем всплывающее окно
					});
					// Закрытие всплывающего окна истекшего срока действия
					closeBtn_start_dateAfter.addEventListener('click', function () {
						popup_error_start_dateAfter.style.display = 'none'; // Скрываем всплывающее окно
					});
					// Закрытие всплывающего окна неверно введённого кода
					closeBtn_start_wrong.addEventListener('click', function () {
						popup_error_start_wrong.style.display = 'none'; // Скрываем всплывающее окно
					});
				});
			});
		</script>


	</main>

</body>

</html>