<!doctype html>
<html lang="ru">

</html>

<head>
	<meta charset="utf-8">
	<title>Администрация. ИКС-файл</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_admin_cab.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>

<body>
	<div class="container">
		<h1>Авторизация</h1>
		<form id="loginForm" action="#" method="post" novalidate>
			<div class="input-group">
				<label for="username">Логин</label>
				<input type="text" id="username" name="username" placeholder="">
			</div>
			<div class="input-group">
				<label for="password">Пароль</label>
				<input type="password" id="password" name="password" placeholder="">
			</div>
			<button class="enter_btn" type="submit">Войти</button>
		</form>
	</div>
	<script>
		document.getElementById('loginForm').addEventListener('submit', function (event) {
			let valid = true;

			// Сбрасываем плейсхолдеры
			document.getElementById('username').placeholder = '';
			document.getElementById('password').placeholder = '';

			// Проверка логина
			const username = document.getElementById('username').value;
			if (!username) {
				document.getElementById('username').placeholder = 'Пожалуйста, заполните логин.';
				valid = false;
			}

			// Проверка пароля
			const password = document.getElementById('password').value;
			if (!password) {
				document.getElementById('password').placeholder = 'Пожалуйста, заполните пароль.';
				valid = false;
			}

			// Если форма не валидна, предотвращаем её отправку
			if (!valid) {
				event.preventDefault();
			}
		});
	</script>
</body>


</html>